<body>
  <nav class="navbar">
    <div class="navbar-left">
      <span class="welcome-text" *ngIf="!loggedIn()">
        <a routerLink="/login" style="color: rgb(255, 255, 255); cursor: pointer;">Login/Register</a>
      </span>
      <span class="welcome-text">Welcome Mr. {{ currentUser().firstName }}</span>
    </div>
    <div class="navbar-right">
      <button (click)="logout()" class="logout-button">Logout</button>
    </div>
  </nav>
<div class="main-container">
    
    <!-- <div class="top-left" *ngIf="loggedIn()">
      Welcome Mr. {{ currentUser().firstName }}
    </div> -->

    <div class="centered">
      <h1 style="font-size: 30px; text-shadow: 20px;">
        <b style="color: blueviolet;">The Community</b>
      </h1>
      <h5 style="font-size: 15px; text-shadow: 20px; color: #000; ">
        Find Solutions. Ask Questions, Share Ideas. Connect with users across the
        globe.
      </h5>
    </div>
   
  
    <div class="top-right" *ngIf="loggedIn()">
      <!-- <a (click)="logout()" class="logout-link" style="color: white; cursor: pointer"
        ><span class="material-icons"> logout </span></a> -->
      
        <div class="admin-button" style="margin-top: 65px"
        *ngIf="currentUser().authorities[0].authority == 'ADMIN'">
       
        <button mat-raised-button color="primary" routerLink="/admin/users">
          Admin Panel
        </button>
      </div>

    </div>
   
    <div class="left-login" *ngIf="!loggedIn()">
      <a routerLink="/login" style="color: rgb(172, 34, 34)">Login / Register</a>
    </div>
    
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Public</h5>
        </div>
        <div class="card-body">
          <div class="stat">
            <h3>{{ stats[0] }} Members</h3>
          </div>
          
        </div>
        <div class="card-footer">
          <p>----------------------</p>
        </div>
      </div>
      
      
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Public</h5>
        </div>
        <div class="card-body">
          
          <div class="stat">
            <h3>{{ stats[1] }} Posts</h3>
          </div>
          
        </div>
        <div class="card-footer">
          <p>----------------------</p>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Public</h5>
        </div>
        <div class="card-body">
          
          <div class="stat">
            <h3>{{ stats[2] }} Active Members</h3>
          </div>
        </div>
        <div class="card-footer">
          <p>----------------------</p>
        </div>
      </div>
    </div>
    
       
   
    <button  class="btn btn-primary custom-button" routerLink="/searchProduct"> Find Product</button>
<!-- style="width: 150px; height: 50px; padding: 10px 20px; font-size: 18px;" -->